extends ../layout
include ../components

block layout-content
    +title("Cadastre uma conta")

    div.container.center
        form(method="post", action="/auth/signup").default-form
            section.group
                p.high-size #{"Usuário"}
                input(type="text", name="username").medium-size
            section.group
                p.high-size #{"Sua senha"}
                input(type="password", name="password").medium-size
            section.group
                p.high-size #{"Repita sua senha"}
                input(type="password", name="repeat-password").medium-size
            section.group
                button(type="submit").medium-size #{"Registrar"}
            section.group.details-form
                a(href="/sigin") #{"Já tem uma conta?"}