extends ../layout
include ../components

block layout-content
    +title("Vire um doador")

    div.container.center
        img(src="/btc.png", alt="Bitcoin").icon
        section.donator
            h2 #{`Salve o #${process.env.APP_NAME}`}
            p #{"Ajude o projeto a se manter online, a carteira BTC está logo abaixo."}
            div.wallet
                button(onclick=`copyToClipboard('${walletbtc}')`) #{"Copiar carteira"}

    script.
        function copyToClipboard(value) {
            navigator.clipboard.writeText(value)
            alert('Carteira copiada!')
        }