
mixin header(items)
    header
        nav.nav-header
            ul
                li
                    a(href="/")
                        h2(onclick="goToHome()").nav-title #{process.env.appname}
                if items
                    for item in items
                        li.common-header-item
                            a(href=item.href) #{item.label}

mixin title(title)
    section.page-header
        h3 #{title}
        hr

mixin text(text)
    p.paragraph #{text}

mixin dropdown(items, title)
    ul(title="${title}").dropdown-container
        if items
            for item in items
                li.dropdown-item
                    a(href=item.href) #{item.label}
    .script
