extends ../layout
include ../components

block layout-content
    +title("Entre na sua conta")

    div.container.center
        form.default-form
            section.group
                p.high-size #{"Usuário"}
                input(type="text").medium-size
            section.group
                p.high-size #{"Senha"}
                input(type="password").medium-size
            section.group
                button(type="submit").medium-size #{"Entrar"}
            section.group.details-form
                a(href="/auth/recover") #{"Esqueceu a senha?"}
                a(href="/auth/signup") #{"Não tem uma conta?"}